* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ── HEADER ── */

a {
  text-decoration: none;
}

header {
  text-align: center;
  margin: 21px 0px;
  img {
    width: 36px;
    margin-right: 6px;
  }
  img,
  nav,
  .logo,
  li {
    display: inline-block;
    vertical-align: middle;
  }
}

nav {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-left: 395px;
  a {
    color: #2e7af4;
  }
}

.logo {
  font-size: 30px;
  font-family: "Alien Block", sans-serif;
  font-weight: bold;
  color: #2e7af4;
}

.link {
  margin: 0px 55px;
}

.register {
  background-color: #2e7af4;
  padding: 12px 24px;
  color: white;
}

/* ── HERO ── */

.maintext {
  position: absolute;
  top: 280px;
  left: 280px;
}

/* ── About Us ── */

/* ── Our Team ── */

/* ── Mission and Vision ── */
